<div class="dashboard-container">
  <div class="dashboard-container-left-menu left-menu">
    <div class="left-menu-title">
      <h1>Management Portal</h1>
    </div>
    <div class="items">
      <div class="item"
           [routerLink]="['gyms']"
           [ngClass]="{ 'active': activeMenu === 'gyms' }"
           (click)="setActiveMenu('gyms')">
        <fa-icon [icon]="['fas','dumbbell']"></fa-icon>
        <span>Gyms</span>
      </div>
      <div class="item"
           [routerLink]="['gyms']"
           [ngClass]="{ 'active': activeMenu === 'settings' }"
           (click)="setActiveMenu('settings')">
        <fa-icon [icon]="['fas','cog']"></fa-icon>
        <span>Dashboard</span>
      </div>
    </div>
    <div class="logout-button" (click)="logout()">
      <fa-icon [icon]="['fas','sign-out-alt']"></fa-icon>
      <span>Logout</span>
    </div>

  </div>
  <div class="dashboard-container-right ngSkipHydration">
    <router-outlet></router-outlet>
  </div>
</div>
