<div class="update-password-container">
  <div class="update-password-container__header header">
    <div class="header__title">
      Update Password
    </div>
    <div (click)="closeModal()"
         class="header__close-icon">
      <fa-icon [icon]="['far', 'times-circle']"></fa-icon>
    </div>
  </div>
  <div class="update-password-container__details">
    <form class="update-password-container__form"
    [formGroup]="resetPasswordForm">

      <input [formControlName]="'newPasswordControl'"
             placeholder='New Password'
             [type]="'password'">
      @if (resetPasswordForm.get('newPasswordControl').hasError('invalidPassword')) {
        <mat-error
          class="error-message">
          <p>Password must contain:</p>
          <ul>
            <li>At least one lowercase letter</li>
            <li>At least one uppercase letter</li>
            <li>At least one digit</li>
            <li>At least one special character from '[!#$%^&*()_+[]:;<>,.?~-]'</li>
            <li>At least 8 characters</li>
          </ul>
        </mat-error>
      }
      <input [formControlName]="'confirmPasswordControl'"
             placeholder='Confirm Password'
             [type]="'password'">
      @if (resetPasswordForm.get('confirmPasswordControl').hasError('passwordsAreNotSame')) {
        <mat-error class="error-message">
          <sup>*</sup>
          Passwords do not match
        </mat-error>
      }
    </form>
    <mat-dialog-actions>
      <button class="cancel-btn"
              (click)="matDialogRef.close()">
        Close
      </button>
      <button class="action-btn"
              (click)="saveNewPassword()"
              [class.disabled]="resetPasswordForm.invalid"
              [disabled]="resetPasswordForm.invalid">
        Save
      </button>
    </mat-dialog-actions>
  </div>
</div>
