<div class="login-container">
  <div class="login-form">
    <h1 class="login-title">Portal AdminRoutes Access</h1>
    <p class="subtitle">Manage gyms, admins , and system settings</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="Enter your username"
          [class.invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
        />
        <div class="error" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          Username is required
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          <input
            [type]="hideInputPassword ? 'password' : 'text'"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
            [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          />
          <button type="button" class="toggle-password" (click)="hideInputPassword = !hideInputPassword">
            {{ hideInputPassword ? 'Show' : 'Hide' }}
          </button>
        </div>
        <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="loginForm.invalid" class="login-button">
        Login
      </button>
    </form>
  </div>
</div>
