<!--<div class="dashboard-container">-->
<!--  <div class="dashboard-header">-->
<!--    <h2>Gyms</h2>-->
<!--    <div class="dashboard-actions">-->
<!--      <input-->
<!--        type="text"-->
<!--        placeholder="Search gyms..."-->
<!--        [(ngModel)]="searchQuery"-->
<!--        (input)="onSearchGyms()"-->
<!--      />-->
<!--      <button class="btn add-gym" (click)="onAddGym()">+ Add Gym</button>-->
<!--      <button class="btn logout" (click)="onLogout()">Logout</button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="dashboard-content">-->
<!--    @if (filteredGyms?.length) {-->
<!--      <ng-container>-->
<!--        @for (gym of filteredGyms; track gym.id) {-->
<!--          <div class="gym-card"-->
<!--               (click)="NavigateTogymDetails(gym.id)">-->
<!--            <div class="gym-name">-->
<!--              name:  {{ gym.gymName }}-->
<!--            </div>-->
<!--            <div class="gym-owner-name">-->
<!--              nb of sessions: {{ gym?.ownerName }}-->
<!--            </div>-->
<!--            <div class="gym-phone-number">-->
<!--              nb of sessions: {{ gym?.phone }}-->
<!--            </div>-->
<!--          </div>-->
<!--        }-->
<!--      </ng-container>-->
<!--    }-->
<!--  </div>-->
<!--</div>-->
