mat-dialog-actions {
  display: flex;
  align-items: center;
  padding-right: 0 !important;
  justify-content: flex-end;

  button {
    &.disabled {
      opacity: 0.7 !important;
      cursor: auto !important;
    }
  }

  .action-btn {
    min-width: 80px;
    height: 28px;
    margin: 0 5px 5px 10px;
    border: 1px solid #a1a0a0;
    border-radius: 25px;
    color: #fff;
    background-color: #0d1c32;
    cursor: pointer;
  }
  .cancel-btn {
    min-width: 80px;
    height: 28px;
    margin: 0 5px 5px 10px;
    border: 1px solid #a1a0a0;
    border-radius: 25px;
    color: #fff;
    background-color: #88a5db;
    cursor: pointer;
  }
}
